@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-background-light text-gray-900 font-display antialiased;
}

.dark body {
  @apply bg-background-dark text-gray-100;
}
